<div id="nav-bar">
  <div><a href="#" id="sounds-nav-bar" style="display: none;">Sounds</a></div>
  <div><a href="#" id="toggle-log" style="display: none;">Log</a></div>
  <div><a href="#" id="toggle-info" style="display: none;">Info</a></div>
  <div><a href="#" id="toggle-keys" style="display: none;">Keys</a></div>
  <div><a href="#" id="fullscreen-toggle">Fullscreen</a></div>
  <div><a href="#" id="open-help">Help</a></div>
  <div id="mode-indicator">Mode: <span id="mode-status">Select</span></div>
  <div><a href="https://github.com/guidoalloatti/pune_html/tree/working" TARGET="_blank" class="pune-nav-bar">Pune HTML5</a></div>
</div>
