<div id="match-summary" class="match-summary" style="display: none;">
  <div class="match-summary-card">
    <div id="match-summary-title" class="match-summary-title">Match Over</div>
    <div id="match-summary-winner" class="match-summary-winner"></div>
    <div id="match-summary-list" class="match-summary-list"></div>
    <div class="match-summary-actions">
      <button id="match-rematch" type="button">Rematch</button>
      <button id="match-close" type="button">Close</button>
    </div>
  </div>
</div>

<div id="keys">
  <div class="key-row" id="redKeyHelpRow" style="display:none;">
    <div id="red-image-small"></div>&nbsp;Red:&nbsp;<input type="button" class="key-btn" id="redRightButton"><input type="button" class="key-btn" id="redLeftButton">
  </div>
  <div class="key-row" id="blueKeyHelpRow" style="display:none;">
    <div id="blue-image-small"></div>&nbsp;Blue:&nbsp;<input type="button" class="key-btn" id="blueRightButton"><input type="button" class="key-btn" id="blueLeftButton">
  </div>
  <div class="key-row" id="greenKeyHelpRow" style="display:none;">
    <div id="green-image-small"></div>&nbsp;Green:&nbsp;<input type="button" class="key-btn" id="greenRightButton"><input type="button" class="key-btn" id="greenLeftButton">
  </div>
  <div class="key-row" id="purpleKeyHelpRow" style="display:none;">
    <div id="purple-image-small"></div>&nbsp;Purple:&nbsp;<input type="button" class="key-btn" id="purpleRightButton"><input type="button" class="key-btn" id="purpleLeftButton">
  </div>
  <div class="key-row" id="yellowKeyHelpRow" style="display:none;">
    <div id="yellow-image-small"></div>&nbsp;Yellow:&nbsp;<input type="button" class="key-btn" id="yellowRightButton"><input type="button" class="key-btn" id="yellowLeftButton">
  </div>
  <div class="key-row" id="cyanKeyHelpRow" style="display:none;">
    <div id="cyan-image-small"></div>&nbsp;Cyan:&nbsp;<input type="button" class="key-btn" id="cyanRightButton"><input type="button" class="key-btn" id="cyanLeftButton">
  </div>
</div>
