<?xml version="1.0" encoding="UTF-8" ?>

<configs>
	<game>
		<hole_size>20</hole_size>
		<hole_spacing>100</hole_spacing>
		<longestWormEver>1000</longestWormEver>
		<startingSpeed>15</startingSpeed>
		<speedingIncrementSpeed>5</speedingIncrementSpeed>
		<intervalMiliSeconds>1000</intervalMiliSeconds>
		<speed>0</speed>
		<fps>0</fps>
		<basicFPSValue>20</basicFPSValue>
		<wormSize>4</wormSize>
		<angleStepSize>1</angleStepSize>
		<sizeMultiplier>2</sizeMultiplier>
	</game>
</configs>
