#demowrap {
    position: relative;
    width: 345px;
    margin: 40px 100px;
    padding: 10px;
    background: #444;
    border-width: 12px;
    border-style: solid;
    border-color: #999 #666 #333 #ccc;
}

    

.upper, .lower {
    margin: 0;
    border: 10px solid #0f0;
    width: 35px;
    height: 30px;
}

.upper {
    border-bottom-width: 5px;
}

.lower {
    border-top-width: 5px;
}

#second, #third, #fourth {
    position: absolute;
    top: 10px;
}

#second {
    left: 85px;
}

#third {
    left: 195px;
}

#fourth {
    left: 270px;
}

#dot_upper, #dot_lower  {
    position: absolute;
    top: 35px;
    left: 165px;
    margin: 0;
    border: 4px solid #0f0;
    width: 0;
    height: 0;
    line-height: 0;
}

#dot_lower {
    top: 70px;
}

#ampm {
    color: #0f0;
    font: 12px Verdana, Arial, sans-serif;
    left: 340px;
    position: absolute;
    top: 10px;
}

#ampm div {
    position: absolute;
}

#selector {
    font: 12px Verdana, Arial, sans-serif;
    left: 380px;
    position: absolute;
    top: -10px;
    width: 150px;
}



#selector ul {
	margin: 0 0 0 20px;
	padding: 0;
	line-height: 1.5;
}