#nav-bar {
	font-size: 20px;
	font-weight: bold;
	position: fixed;
  top: -1px;
	left: -1px;
	width: 100%;
	height: 40px;
	color: white;
	background: #272727;
	border: 1px solid white;
}

#footer-bar {
	font-size: 20px;
	font-weight: bold;
	position: fixed;
  bottom: -1px;
	left: -1px;
	width: 100%;
	height: 30px;
	color: white;
	background: #272727;
	border: 1px solid white;
}


#count_1, #count_2, #count_3 {
	display: none;
	font-size: 320px;
	font-weight: bold;
	position: fixed;
  top: 165px;
  left: 255px;
	width: 60px;
	height: 30px;
	color: white;
}

#background {
	margin-top: 47px;
	background: #88bbbb; 
	width: 730px; 
	height: 485px;
	border: 10px solid #88bbbb;
}

#create-game {
	background: lightgreen;
	font-weight: bold;
}

#show-options {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
	color: #B5B5B5;
	margin-top: 8px;
	position: fixed;
  left: 160px;
  top: 3px;
}

.footer-created-by {
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	color: #B5B5B5;
	margin-top: 8px;
	margin-left: 20px;
	position: fixed;
	right: 10px;
  bottom: 5px;
}

.pune-nav-bar {
	font-family: sans-serif;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal;
	color: #B5B5B5;
	margin-top: 8px;
	margin-left: 20px;
	position: fixed;
  right: 10px;
  top: 1px;
}

.create-nav-bar {
	font-family: sans-serif;
	font-size: 18px;
	text-decoration: none;
	font-weight: normal;
	color: #B5B5B5;
	margin-top: 8px;
	margin-left: 20px;
	position: fixed;
  left: 10px;
  top: 3px;
}

.create-nav-bar:hover, #show-options:hover, .footer-created-by:hover, .pune-nav-bar:hover {
	color: white;
}



#marker {
	margin-left: 4px;
/*	padding: 1px;
	border: 1px solid #006666;*/
}

.div.ui-dialog-buttonpane{
	font-size: 14px;
}

.ui-widget{
	font-size: 14px;
}

.ui-widget-content{
	font-size: 14px;
}




table.colorone {
    color: white;
    width: 100%;
    border-collapse: collapse;
}

table.centered {
	cellspacing: 0;
	cellpadding: 5px;
	width: 400px;
	border: 0;
	align: "center";
}

p {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

p.subtitle {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 16px;
	font-weight: bold;
	color: #FFCFCE;
}

p.submenu {
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

td.cool {
	font-family: "Helvetica, sans-serif";
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
}
