/* Nav-bar and Footer Elements */
.create-nav-bar, .footer-created-by, .pune-nav-bar, 
#show-options, #sounds-nav-bar, #sounds-menu, .create-new-game-nav-bar,
#toggle-log, #toggle-info, #toggle-keys {
  color: #B5B5B5;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  position: fixed;
}

.create-nav-bar:hover, .footer-created-by:hover, .pune-nav-bar:hover,
#show-options:hover, #sounds-nav-bar:hover, .create-new-game-nav-bar:hover,
#toggle-log:hover, #toggle-info:hover, #toggle-keys:hover {
  color: white;
}

#red-text, #blue-text, #green-text, #purple-text, #yellow-text, #cyan-text,
#die-text, #yabass-text, #speeding-text, #winning-text, #pause-text, #burp-text {
  color: #B5B5B5;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  width: 50px;
  height: 50px;
  margin-top: 9px;
  margin-left: 2px;
}

#red-image, #blue-image, #green-image, #purple-image, #yellow-image, #cyan-image,
#die-image, #yabass-image, #speeding-image, #winning-image, #pause-image, #burp-image  {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

#red-image-small, #blue-image-small, #green-image-small, 
#purple-image-small, #yellow-image-small, #cyan-image-small  {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

#red-image, #red-text, #green-image, #green-text, #purple-image, #purple-text,
#blue-image, #blue-text, #yellow-image, #yellow-text, #cyan-image, #cyan-text, 
#die-image, #die-text, #yabass-image, #yabass-text, #winning-image, #winning-text,
#speeding-image, #speeding-text, #pause-image, #pause-text, #burp-image, #burp-text,
#red-image-small, #blue-image-small, #green-image-small, 
#purple-image-small, #yellow-image-small, #cyan-image-small
{
  text-align: left;
  float: left;
}

#sounds-menu {
  font-size: 14px;  
  left: 300px;
  top: 40px;
  width: 495px;
  height: 150px;
  background: #272727;
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;
}

#red-image, #red-image-small       { background: red;      }
#blue-image, #blue-image-small     { background: blue;     }
#green-image, #green-image-small   { background: green;    }
#purple-image, #purple-image-small { background: purple;   }
#yellow-image, #yellow-image-small {  background: yellow;  }
#cyan-image, #cyan-image-small     { background: cyan;     }
#die-image    { background: black;    }
#yabass-image { background: orange;   }
#speeding-image { background: gray;   }
#winning-image { background: aliceblue;   }
#pause-image { background: lightblue;   }
#burp-image { background: lightgreen;   }

.pune-nav-bar {
  font-size: 24px;
  margin-top: 8px;
  margin-left: 20px;
  right: 10px;
  top: 1px;
}

#sounds-nav-bar, #toggle-info, #toggle-log, #show-options, #toggle-keys {
  font-size: 18px;
  margin-top: 8px;   
  top: 4px;
}
#show-options   { left: 185px; }
#sounds-nav-bar { left: 320px; }
#toggle-log     { left: 440px; }
#toggle-info    { left: 550px; }
#toggle-keys    { left: 660px; }

.create-nav-bar, .create-new-game-nav-bar {
  font-size: 24px;
  margin-top: 8px;
  margin-left: 20px;
}

#nav-bar {
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 40px;
  color: white;
  background: #272727;
  border: 1px solid white;
}
