<!--
  This is the game log html 
-->
<div id="game-details-div" style="display:none;">
  <div id="log_div">
    <div id="log_title">
      Game Log Details 
      <hr/>
    </div>
    <div id="log"></div>
  </div>
  <input type="button" class="close-panel-btn" id="log-close-btn" value="Hide Panel" />
</div>

<!--
  This is the game information html 
-->
<div id="game-info-div" style="display:none;">
  <div id="info_div">
    <div id="info_title">
      Game Info Details
      <hr/>
    </div>
    <div id="info">   
      <div>
        <div id="speed_label"></div><div id="speed"></div>
        <div id="round_label"></div><div id="rounds"></div>
        <hr>
        <div id="longest_color_label"></div><div id="longest"></div>
        <div id="longest_size_label"></div><div id="longest_size"></div>
        <hr>
        <div id="sound-panel-div">
          
          <div id="soundImage">
            <a onclick="soundSwitcher();">
              <img src="./static/images/uncheck.png" width="32" height="32" border="0" />
            </a>
          </div>
          <div id="soundStatus">Sound is ON</div>
        </div>
        <div id="pause-panel-div">  
          <div id="pauseImage">
            <a onclick="pauseSwitcher();">
              <img src="./static/images/check.png" width="32" height="32" border="0" />
            </a>
          </div>
          <div id="pauseStatus">Pause is OFF </div>
        </div>
      </div>
    </div>
  </div>
  <input type="button" class="close-panel-btn" id="info-close-btn" value="Hide Panel" />
</div>

<!--
  This is the keys indicator html 
-->
<div id="show-keys-div" style="display:none;">
  <div id="keys-div">
    <div id="keys-title">
      Worm: Left Right
      <hr/>
    </div>
    <div id="keys">
      <div class="key-row" id="redKeyHelpRow" style="display:none;">
        <div id="red-image-small"></div>&nbsp;Red:&nbsp;<input type="button" class="key-btn" id="redRightButton"><input type="button" class="key-btn" id="redLeftButton">
      </div>
      <div class="key-row" id="blueKeyHelpRow" style="display:none;">
        <div id="blue-image-small"></div>&nbsp;Blue:&nbsp;<input type="button" class="key-btn" id="blueRightButton"><input type="button" class="key-btn" id="blueLeftButton">
      </div>
      <div class="key-row" id="greenKeyHelpRow" style="display:none;">
        <div id="green-image-small"></div>&nbsp;Green:&nbsp;<input type="button" class="key-btn" id="greenRightButton"><input type="button" class="key-btn" id="greenLeftButton">
      </div>
      <div class="key-row" id="purpleKeyHelpRow" style="display:none;">
        <div id="purple-image-small"></div>&nbsp;Purple:&nbsp;<input type="button" class="key-btn" id="purpleRightButton"><input type="button" class="key-btn" id="purpleLeftButton">
      </div>
      <div class="key-row" id="yellowKeyHelpRow" style="display:none;">
        <div id="yellow-image-small"></div>&nbsp;Yellow:&nbsp;<input type="button" class="key-btn" id="yellowRightButton"><input type="button" class="key-btn" id="yellowLeftButton">
      </div>
      <div class="key-row" id="cyanKeyHelpRow" style="display:none;">
        <div id="cyan-image-small"></div>&nbsp;Cyan:&nbsp;<input type="button" class="key-btn" id="cyanRightButton"><input type="button" class="key-btn" id="cyanLeftButton">
      </div>
    </div>
    <input type="button" class="close-panel-btn" id="keys-close-btn" value="Hide Panel" />
  </div>
</div>

<!--
  This is the sounds player html 
-->
<div id="sounds-menu" style="display: none;">
  <div>
    <div>Worms Winning Shouts</div>
    <hr/>
    <div id="red-winning-shout">
      <a href="#" id="play-red-winning-shout">
        <div id="red-image"></div>
        <div id="red-text">Red</div>
      </a>
    </div>
    <div id="blue-winning-shout">
      <a href="#" id="play-blue-winning-shout">
        <div id="blue-image"></div>
        <div id="blue-text">Blue</div>
      </a>
    </div>
    <div id="green-winning-shout">
      <a href="#" id="play-green-winning-shout">
        <div id="green-image"></div>
        <div id="green-text">Green</div>
      </a>
    </div>
    <div id="purple-winning-shout">
      <a href="#" id="play-purple-winning-shout">
        <div id="purple-image"></div>
        <div id="purple-text">Purple</div>
      </a>
    </div>
    <div id="yellow-winning-shout">
      <a href="#" id="play-yellow-winning-shout">
        <div id="yellow-image"></div>
        <div id="yellow-text">Yellow</div>
      </a>
    </div>
    <div id="cyan-winning-shout">
      <a href="#" id="play-cyan-winning-shout">
        <div id="cyan-image"></div>
        <div id="cyan-text">Cyan</div>
      </a>
    </div>

    <div>Game Funny Sounds</div>
    <hr/>
    <div id="die-shout">
      <a href="#" id="die-shout">
        <div id="die-image"></div>
        <div id="die-text">Die</div>
      </a>
    </div>
    <div id="yabass-shout">
      <a href="#" id="yabass-shout">
        <div id="yabass-image"></div>
        <div id="yabass-text">Yabass</div>
      </a>
    </div>
    <div id="speeding-shout">
      <a href="#" id="speeding-shout">
        <div id="speeding-image"></div>
        <div id="speeding-text">Speed</div>
      </a>
    </div>
    <div id="winning-shout">
      <a href="#" id="winning-shout">
        <div id="winning-image"></div>
        <div id="winning-text">Win</div>
      </a>
    </div>
    <div id="pause-shout">
      <a href="#" id="pause-shout">
        <div id="pause-image"></div>
        <div id="pause-text">Pause</div>
      </a>
    </div>
    <div id="burp-shout">
      <a href="#" id="burp-shout">
        <div id="burp-image"></div>
        <div id="burp-text">Burp</div>
      </a>
    </div>
  </div>
  <input type="button" class="close-panel-btn" id="sounds-close-btn" value="Hide Panel" />
</div>