<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
  <html>
  <head>
    <title>Pune! - Html5, Canvas, jQuery Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="javascript, game, games, jquery, gamequery, game engine, framework, development" name="keywords">
    <link rel="icon" type="image/x-icon" href="./static/images/ico.png">

    <!-- Adding jQuery and jQuery UI sources -->
    <script src="static/js/jquery/jquery-1.8.0.js" type="text/javascript"></script>
    <script src="static/js/jquery/jquery-ui-1.8.23.js" type="text/javascript"></script>
    
    <!-- Adding all the JS sources -->
    <script src="static/js/vars.js" type="text/javascript"></script>
    <script src="static/js/worms.js" type="text/javascript"></script>
    <script src="static/js/graphics.js" type="text/javascript"></script>
    <script src="static/js/sounds.js" type="text/javascript"></script>
    <script src="static/js/keys.js" type="text/javascript"></script>
    <script src="static/js/settings.js" type="text/javascript"></script>
    <script src="static/js/ajax.js" type="text/javascript"></script>
    <script src="static/js/modal.js" type="text/javascript"></script>
    <script src="static/js/start.js" type="text/javascript"></script>

    <!-- Adding the Styling Sources -->
    <link href="static/css/common.css" rel="stylesheet" type="text/css">
    <link href="static/css/nav-bar.css" rel="stylesheet" type="text/css">
    <link href="static/css/footer-bar.css" rel="stylesheet" type="text/css">
    <link href="static/css/pre-game.css" rel="stylesheet" type="text/css">
    <link href="static/css/game-settings.css" rel="stylesheet" type="text/css">
  </head>