
<!-- Nav Bar, pre game body and and Footer bar HTML start here -->
<!-- ========================================================= -->
<div id="nav-bar">
  <div><a href="#" class="create-nav-bar" id="set-game">Create Game</a></div>
  <div><a href="#" id="sounds-nav-bar" style="display: none;">Sounds</a></div>
  <div><a href="#" id="toggle-log" style="display: none;">Log</a></div>
  <div><a href="#" id="toggle-info" style="display: none;">Info</a></div>
  <div><a href="#" id="toggle-keys" style="display: none;">Keys</a></div>
  <div><a href="https://github.com/guidoalloatti/pune_html/tree/working" TARGET="_blank" class="pune-nav-bar">Pune HTML5</a></div>
</div>

<div id="start-body">
  <div>
    <div id="welcome-body">Welcome to Pune Browser Edition!</div>
    <div id="worm-image-body"><img src="./static/images/wormclean.jpg"></div>
    <div id="get-ready-body">Get Ready to crush those worms!</div>
  </div>
</div>