
  <!-- Nav Bar, pre game body and and Footer bar HTML start here -->
  <!-- ========================================================= -->
  <div id="nav-bar">
    <div><a href="#" class="create-nav-bar" id="set-game">Create Game</a></div>
    <div><a href="#" class="toggle-nav-bar" id="show-options" style="display: none;">Toggle Details</a></div>
    <div><a href="#" id="toggle-log" style="display: none;">Toggle Log</a></div>
    <div><a href="https://github.com/guidoalloatti/pune_html/tree/working" TARGET="_blank" class="pune-nav-bar">Pune HTML5</a></div>

    <div><a href="#" id="sounds-nav-bar" style="display: none;">Play Sounds</a></div>
    <div id="sounds-menu" style="display: none;">
      <div>
        <div>Worms Winning Shouts</div>
        <hr/>
        <div id="red-winning-shout">
          <a href="#" id="play-red-winning-shout">
            <div id="red-image"></div>
            <div id="red-text">Red</div>
          </a>
        </div>
        <div id="blue-winning-shout">
          <a href="#" id="play-blue-winning-shout">
            <div id="blue-image"></div>
            <div id="blue-text">Blue</div>
          </a>
        </div>
        <div id="green-winning-shout">
          <a href="#" id="play-green-winning-shout">
            <div id="green-image"></div>
            <div id="green-text">Green</div>
          </a>
        </div>
        <div id="purple-winning-shout">
          <a href="#" id="play-purple-winning-shout">
            <div id="purple-image"></div>
            <div id="purple-text">Purple</div>
          </a>
        </div>
        <div id="yellow-winning-shout">
          <a href="#" id="play-yellow-winning-shout">
            <div id="yellow-image"></div>
            <div id="yellow-text">Yellow</div>
          </a>
        </div>
        <div id="cyan-winning-shout">
          <a href="#" id="play-cyan-winning-shout">
            <div id="cyan-image"></div>
            <div id="cyan-text">Cyan</div>
          </a>
        </div>

        <div>Game Funny Sounds</div>
        <hr/>
        <div id="die-shout">
          <a href="#" id="die-shout">
            <div id="die-image"></div>
            <div id="die-text">Die</div>
          </a>
        </div>
        <div id="yabass-shout">
          <a href="#" id="yabass-shout">
            <div id="yabass-image"></div>
            <div id="yabass-text">Yabass</div>
          </a>
        </div>
        <div id="speeding-shout">
          <a href="#" id="speeding-shout">
            <div id="speeding-image"></div>
            <div id="speeding-text">Speed</div>
          </a>
        </div>
        <div id="winning-shout">
          <a href="#" id="winning-shout">
            <div id="winning-image"></div>
            <div id="winning-text">Win</div>
          </a>
        </div>
        <div id="pause-shout">
          <a href="#" id="pause-shout">
            <div id="pause-image"></div>
            <div id="pause-text">Pause</div>
          </a>
        </div>
        <div id="burp-shout">
          <a href="#" id="burp-shout">
            <div id="burp-image"></div>
            <div id="burp-text">Burp</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="start-body">
    <div>
      <div id="welcome-body">Welcome to Pune Browser Edition!</div>
      <div id="worm-image-body"><img src="./static/images/wormclean.jpg"></div>
      <div id="get-ready-body">Get Ready to crush those worms!</div>
    </div>
  </div>